 .blur {
        filter: blur(3px);
        -webkit-filter: blur(3px);
     animation: blurChange 10s  ease-in-out infinite;
}




 .clean {
        filter: blur(0px);
        -webkit-filter: blur(0px);
}

#beian {
    color: #9b9b9b;
}

#beian a{
    color: #9b9b9b;
}





@keyframes blurChange{
    
    0%{
  filter: blur(3px);
    }
    50%{
  filter: blur(0px);


    }
    100%{
  filter: blur(3px);


    } 
    
}


.clear{
    
   position: absolute;
    z-index: 2;
    background: white;
    
  transform: translateY( 7px);
    right: 10px;
    
}


.hide{
    display: none;
}


body{
background: linear-gradient(#ffffff, #C0C3EB,#ffffff );
    animation: change 5s ease-in-out infinite;

background-size: 400% 200%;



}



.wbs-hotrank .m-wrap {
    
    background: linear-gradient(#ffffff, #C0C3EB,#ffffff );
    border: 0.5px solid lightgrey;


}


.label{
    
text-align: center;
    opacity: 0;
    
}

.show{
  opacity: 1;
}


@keyframes change{
    
    0%{
        background-position:  0 200%;

    }
    50%{
        background-position:  0% 100%;


    }
    100%{
     background-position:  0 200%;


    } 
    
}




.back{
    background-color: #CD550F;
}


.newPage{
    
    position:fixed;
    left: 200px;
}

.m-search input{
    color: lightgray;
}


.wrapper{
    position: fixed;
    z-index: 20;
    width: auto;
    justify-content: center;
    align-content: center;
    
}


.container{
    position: fixed;
    z-index: 20;
    width: auto;
    justify-content: center;
    align-content: center;
    
}

